<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.drink.ko.ProdVO" alias="prodDTO" />
		<typeAlias type="com.drink.ko.ProdNoticeVO" alias="prodNoticeDTO"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappings/prod-mapping.xml" />
		<mapper resource="mappings/prodnotice-mappong.xml"/>
	</mappers>
</configuration>
