<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- classpath: => src/main/resources -->
	<import resource="classpath:bean/beanContext.xml"/>
	
<!-- 	<bean id="tv" class="com.springbook.biz.SamsungTV"/> -->
<!-- SamsungTV tv = new SamsungTV(); -->

<!-- 	<bean id="tv" class="com.springbook.biz.SamsungTV"> -->
<!-- 		<constructor-arg ref="sony"/> -->
<!-- 	</bean> -->
	
<!-- 매개인자가 2개인 생성자가 1개만 있는 경우는 순서 상관없이 자동으로 매칭된다.  -->
<!-- 매개인가자 2개인 생성자가 2개 이상 있는 경우는 인자의 순서를 확인하여 해당 생성자에 매칭된다. -->
<!-- 	<bean id="tv" class="com.springbook.biz.SamsungTV"> -->
<!-- 		<constructor-arg value="7200000"/> -->
<!-- 		<constructor-arg ref="apple"/> -->
<!-- 	</bean> -->

<!-- 매개인자의 순서를 지정해준 경우(index) 순서가 다르게 배치되면 안된다.  -->
	<bean id="tv" class="com.springbook.biz.SamsungTV">
		<constructor-arg index="0" ref="sony"/>
		<constructor-arg index="1" value="2700000"/>
	</bean>

</beans>
